<div class="formposition">

<h2>ログイン</h2>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group row">
      <%= f.label :email, class: 'col-sm-4 col-form-label' %><br />
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group row">
      <%= f.label :password, class: 'col-sm-4 col-form-label' %><br />
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
      <small>
        <%= f.label :remember_me %>
      </small>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
</div>
<%= render "devise/shared/links" %>
