<!DOCTYPE html>
<html>
  <head>
    <title>HaircutLab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <nav>
        <!-- user_signed_in? はユーザーがログインしているか調べるdeviseのhelperメソッド -->
        <% if user_signed_in? %>
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成した時に、
          deviseにより自動で作成されてますので、rake routesで確認出来ます -->
          Logged in as <storong><%= current_user.email %></storong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %> |
          <%= link_to 'ログアウト', sign_out_path %>
        <% else %>
          <%= link_to '会員登録', new_user_registration_path %> |
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
